doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='style.css')
  link(rel='stylesheet' type='text/css' href='style2.css')
  link(rel='stylesheet' type='text/css' href='bootstrap.min.css')
  title Стратегия победителя
header
  nav.navbar.navbar-expand-md.navbar-light.sticky-top(style='background: #FFFFFF; height: 50px;')
    .container-fluid
      a.navbar-brand(href='#')
        img(src='images/logo.png')
        | Стратегия победителя
      button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbar-menu')
        span.navbar-toggler-icon
      #navbar-menu.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Путь лидера
          li.nav-item
            a.nav-link(href='#') Новости
          li.nav-item
            a.nav-link(href='#') Вход
.main-padding
  .container.container-part
    .text-center.p-4
      h4.colorblue2 Регистрация пользователя
    .row.justify-content-center
      form.form
        .form-group.pb-1
          label.color-tiny-title(for='name') Имя
          br
          input#name.for-areas(size='30' type='text')
        .form-group.pb-1
          label.color-tiny-title(for='lname') Фамилия
          br
          input#lname.for-areas(size='30' type='text')
        .form-group.pb-1
          label.color-tiny-title(for='date') Дата рождения
          br
          input#date.for-areas.hundwidth(type='date')
        .form-group.pb-1
          label.color-tiny-title(for='email') Email
          br
          input#email.for-areas(size='30' type='email')
        label.color-tiny-title Пол
        .form-group.pb-1.fosev
          span
            button.col-md-6.but1 Женский
            button.col-md-6.but2.colorblue Мужской
        .form-group.pb-1
          label.color-tiny-title(for='sel1') Представитель региона
          br
          select#sel1.form-control.hundwidth
            option Разработчик
            option Разработчик1
            option Разработчик2
            option Разработчик3
        .form-group.pb-1
          label.color-tiny-title(for='sel1') Город
          br
          select#sel1.form-control.hundwidth
            option Москва
            option Москва1
            option Москва2
            option Москва3
        .form-group.pb-1
          label.color-tiny-title(for='pass') Пароль
          br
          input#pass.for-areas(size='30' type='password')
        .form-group.pb-1
          label.color-tiny-title(for='pass') Повторите пароль
          br
          input#pass.for-areas(size='30' type='password')
        .form-group.pb-1
          .col-lg-12.pl-0
            .row
              .col-lg-2
                input.incheckb(type='checkbox')
              .col-lg-10
                span.fontsize
                  | Я согласен на обработку
                  br
                  | персональных данных
        center
          button.btn.btn-success.hundwidth(style='border-radius: 100px;') Создать аккаунт
